<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar">
      <div class="container">
        <div class="nav-brand">
          <!-- <img src="images/deer-logo.png" alt="Deer" class="logo-icon" /> -->
          <i class="fa-solid fa-paw" style="color: white"></i>
          <span class="logo-text"
            >Wildlife<span class="highlight">4Life</span></span
          >
        </div>
        <ul class="nav-menu">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/about-us.html">About Us</a></li>
          <li><a href="#tours">Tours & Packages</a></li>
          <li><a href="/blog/blogInfo.html">Blog</a></li>
          <li><a href="/contact.html">Contact Us</a></li>
          <li><a href="/chat-bot-wl-info.html">Chat</a></li>
        </ul>
        <div class="nav-actions">
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <button class="nav-toggle">☰</button>
        </div>
      </div>
    </nav>
    <script src="/javascript/script.js"></script>
    <script src="/javascript/slider.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
  </body>
</html>
